{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Käyttäjät</h1>
    </div>

    {% if user_logged_in.tuutori %}
    <h4>Fuksit:</h4>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Pisteet</th>
      </tr>
    </thead>

    <tbody>
        {% for kayttaja in kayttajat %}
        {% if kayttaja.tuutori == false %}
      <tr>
        <td><a href="{{base_path}}/kayttaja/{{kayttaja.id}}">{{kayttaja.etunimi}} {{kayttaja.sukunimi}}</a></td>
        <td>{{kayttaja.getPisteet}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
    <h4>Tuutorit:</h4>
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
      </tr>
    </thead>

    <tbody>
        {% for kayttaja in kayttajat %}
        {% if kayttaja.tuutori %}
      <tr>
        <td><a href="{{base_path}}/kayttaja/{{kayttaja.id}}">{{kayttaja.etunimi}} {{kayttaja.sukunimi}}</a></td>
        
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
    {% else %}
    <p>Vain tuutori voi tarkastella muiden käyttäjien tietoja!</p>
    {% endif %}
{% endblock %}
