{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa käyttäjän {{kayttaja.etunimi}} {{kayttaja.sukunimi}} tietoja</h1>

  <form>
    
    <div class="form-group">
      <label>Nimimerkki</label>
      <input type="text" class="form-control" value="{{kayttaja.nimimerkki}}">
    </div>
    <div class="form-group">
      <label>Etunimi</label>
      <input type="text" class="form-control" value="{{kayttaja.etunimi}}">
    </div>
    <div class="form-group">
      <label>Sukunimi</label>
      <input type="text" class="form-control" value="{{kayttaja.sukunimi}}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}