{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Tapahtumat</h1>
    </div>

     

    <p>
        <a href="#" class="btn btn-success">Lisää tapahtuma</a>
    </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Päivämäärä</th>
        <th>Aika</th>
        <th>Paikka</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="tapahtumat/show">Nimi</a></td>
        <td>11.11.2011</td>
        <td>14:00</td>
        <td>Alina</td>
        <th>
            <a class="btn btn-primary" href="tapahtumat/muokkaa">Muokkaa</a>
            <a class="btn btn-success" href="#">Osallistuin</a>
            <a class="btn btn-danger" href="#">En osallistunutkaan</a>
        </th>
        
      </tr>
    </tbody>
  </table>
{% endblock %}
