{% extends "base.html" %}
{% block content %}
  <h1>{{tapahtuma.nimi}}</h1>
    
    
  <ul>
    <li><strong>Päivämäärä:</strong> {{tapahtuma.pvm}}</li>
    <li><strong>Aika:</strong> {{tapahtuma.aika}}</li>
    <li><strong>Paikka:</strong> {{tapahtuma.paikka}}</li>
    <li><strong>Pisteet:</strong> {{tapahtuma.pisteet}}</li>
  </ul>
  <p>
    {{tapahtuma.kuvaus}}
  </p>
  {% if user_logged_in.admin %}
    <a id="napit" class="btn btn-primary" href="{{base_path}}/tapahtumat/{{tapahtuma.id}}/muokkaa">Muokkaa</a>
    <form id="napit" method="post" action="{{base_path}}/tapahtumat/{{tapahtuma.id}}/destroy" class="destroy-form">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
  {% endif %}
{% endblock %}