@import 'https://fonts.googleapis.com/css?family=Roboto';

body, html {
    font-family: 'Roboto', sans-serif !important;
}

#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

#napit {
    display: inline-block; //Or display: inline; 
}